/* You can add global styles to this file, and also import other style files */
@import '/assets/css/bootstrap.min.css';
/*@import '/assets/css/font-awesome.min.css';*/
@import '/assets/css/light-bootstrap-dashboard.css';

.user-list{
    float: right;
    margin-top: -30px;
}